/* * {
  cursor: none;
} */

.app-container {
    display: flex;
    height: 100vh;
  }

.sidebar-container {
    position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: #5c5c5c;
  color: #454545;
}

.menu-spacer {
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
    height: 1000px;
}

.main-home {
    flex-grow: 1;
    top:0;
    position: relative;
    margin-left: 20%;
}

.bordered-div {
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 20px;
    background: #ffffff;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .cursor {
    background-color: #111;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    position:fixed;
    top:0;
    left:0;
    pointer-events: none;
    z-index: 9999;
  }